body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*padding-left: 10px;*/
    -webkit-text-size-adjust: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

table.table-centered td {text-align:center;vertical-align:top;}

/*.main,.page,body {min-width:1200px;}*/
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/


/*body{ font-family:Courier;}*/
.header {
  font-family: 'newsgoth_btbold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/*space for header and footer*/
.ccLogoSize {
  height: 25px;
}
a.navbar-brand {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
}
.navbar-brand.titleBrand,
.nav.navbar-nav li a {
  padding-top: 10.5px;
  padding-bottom: 10.5px;
}

.navbar {
	min-height: 20px;
}  
.navbar-header {
  height: 20px;
}
.navbar-right {
  padding-right:10px;
}


.page {
  padding-top: 25px;
  padding-bottom: 10px;
}
body {
  font-family: Arial, Verdana, Helvetica;
}
textarea {
  min-height: 75px;
}
.field-validation-error {
  color: #b94a48;
}
.validation-summary-errors {
  font-weight: bold;
  color: #b94a48;
}
.validation-summary-errors ul li {
  list-style-type: none;
}
.validation-summary-valid {
  display: none !important;
}
/* ADDED BY CCF */
/* document sections */
#header {
  border-bottom: 1px solid #c2c2c2;
}
#footer {
  background-color: #e5edf3;
  border-top: 1px solid #c2c2c2;
  text-align: center;
}
#footerText {
  font-size: 12px;
}
/*Styles the blue message bar below the menu*/
.barBelowNavbar {
  /* Gradient is defined by bootstrap mixins.less */

  background-color: #d1dde9;
  color: #444;
  border-color: #222222;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.barBelowNavbar span {
  padding-top: 5px;
  vertical-align: baseline;
  display: inline-block;
}
.subMenuDivLeft {
  float: left;
  padding-left: 10px;
}
.subMenuDivRight {
  float: right;
  text-align: right;
  padding-right: 10px;
}
.subMenuText {
  font-size: 12px;
}
#subMenuTextLeft {
  font-size: 12px;
}
#subMenuTextRight {
  font-size: 12px;
}
.greenBar {
  background-color: #c9ded4;
  color: black;
  display: inline-block;
  padding-top: 5px;
  vertical-align: baseline;
}
.FontLarge {
  font-size: 18px;
}
.FontSmall {
  font-size: 12px;
}
.FontMini {
  font-size: 12px;
}
#main {
    margin-bottom: 20px;
}
.font-weight-bold {
	font-weight: bold;
}

.widelabel .control-label {
    width: 300px;
}
.widelabel .form-group {
	margin-bottom: 4px;
}

/*JQuery UI*/
.ui-autocomplete .ui-menu-item a.ui-state-focus {
      background: #C4FFC4 !important;
      border: 1px solid #32BE61 !important;
	  font-family:serif;
	  color : #FFF !important;
}

.ui-widget-content .ui-state-hover, 
.ui-widget-content .ui-state-focus 
{
    background: #D6E6F1;
	color: #333 !important;
}

.ui-menu-item .ui-state-focus {
      background: #C4FFC4 !important;
      border: 1px solid #32BE61 !important;
	  font-family:serif;
}


.twoColumn {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}.threeColumn {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
.fourColumn {
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
}

div.indented {
	margin-left: 14px;
}

dl.indented dd {margin-left:14px;}

th.tableFilter {background-color:#eee !important;font-size:90% !important;padding:2px 12px 2px 6px !important; }

th.tableFilter div.tablesorter-header-inner {padding:0 0 0 0 !important; }

/*fix rounding for single column tables*/
.table-rounded > :first-child > :first-child > :only-child {
  border-radius: 6px 6px 0 0;
}
.table-rounded > :last-child > :last-child > :only-child {
  border-radius: 0 0 6px 6px;
}
/*fix rounding for tablesorter with multipleheader rows*/
table.tablesorter.table-rounded > thead > tr > th:first-child {
  border-top-left-radius: 0px;
}
table.tablesorter.table-rounded > thead > tr > th:last-child {
  border-top-right-radius: 0px;
}

table.tablesorter.table-rounded > thead > tr:first-child > th:last-child {
    border-top-right-radius: 6px;
}
table.tablesorter.table-rounded > thead > tr:first-child > th:first-child {
    border-top-left-radius: 6px;
}



/*Make it so that inline labels do not wrap*/
.inlineBlock  .control-label {
    width:auto;
}
